body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
    
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 2px black;
}

#avatar{
    border-radius: 50%;
    width:250px;
    border: 5px solid #EFB0C9;
}

h2, h4{
    background: #EFB0C9;
}